:root {
  --white: #ffffff;
  --black: #1f1d1d;
  --gray-dark: #343343;
  --gray-light: #615f5f;
  --gray-lighter: #797878;
  --gray-lightest: #939191;
  --brand-primary: #f711c6;
}

body {
  background-color: var(--black);
}
